<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodická knihovna aktivit | Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col w-full pt-24 pb-16 justify-between bg-dark-700 px-4">
                <h1 class="text-4xl font-bold mx-auto"><%= activity.activityName %></h1>
                <div class="flex flex-row gap-4 mx-auto">
                    <p>Odhadovaná doba trvání: <%= Math.round(activity.lengthMin / 60)%> - <%= Math.round(activity.lengthMax / 60) %> hodin</p>
                    <p>Skupinová aktivita: <span class="font-bold"><%= activity.classStructure == "All" || activity.classStructure == "Group" ? "Ano" : "Ne" %></span></p>
                </div>
                <h2 class="text-3xl font-bold">O čem aktivita je a co si při ní vyzkoušíte?</h2>
                <p><%= activity.activityName %> je <%= activity.description %></p>

            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/Application.js"></script>
    <script src="/public/js/API.js"></script>

    <script>
        const app = new Application();
        app.hideLoader();
    </script>
</body>
</html>