<% activityType = {
    "All": "Všechny",
    "Group": "Skupinová",
    "Individual": "Individuální"
} %>
<% startHours= 0
startMinutes= 0 %>

<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodická knihovna aktivit | Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col w-full pt-12 pb-16 justify-between bg-dark-700 px-4">
                <h1 class="text-4xl font-bold mx-auto"><%= activity.activityName %></h1>
                <div class="flex flex-row gap-4 mx-auto">
                    <p>Odhadovaná doba trvání: <%= Math.round(activity.lengthMin / 60)%> - <%= Math.round(activity.lengthMax / 60) %> hodin</p>
                    <p>Typ aktivity: <span class="font-bold"><%= activityType[activity.classStructure] %></span></p>
                </div>
                <h2 class="text-3xl font-bold">O čem aktivita je a co si při ní vyzkoušíte?</h2>
                <p><%= activity.activityName %> je <%= activity.description %></p>
                <p>Cílem této aktivity je: </p>
                <ul>
                    <% activity.objectives.forEach(objective => { %>
                        <li class="pl-4"><%= objective %></li>
                    <% }) %>
                </ul>
                <h2 class="text-3xl font-bold">Co budete potřebovat</h2>
                <div class="flex flex-row">
                    <ul>
                        <% activity.tools.forEach(tool => { %>
                            <li class="pl-4"><%= tool %></li>
                        <% }) %>
                    </ul>
                </div>
                <h2 class="text-3xl font-bold">Průběh krok za krokem</h2>
                <div class="flex flex-row gap-4">
                    <div class="shadow-md w-1/2 bg-dark-700 px-4 py-2">
                        <h3 class="text-2xl">Přípravná fáze</h3>
                        <ol class="list-decimal pl-4">
                            <% activity.homePreparation.forEach(step => { %>
                                <li>
                                        <% if(step.warn) {%>
                                            <i class="fa-regular fa-triangle-exclamation text-sunglate-900"></i>
                                           <%= step.warn %>
                                        <% } %>60step..
                                        <br/>
                                        <%= step.title %>
                                        <br>
                                        <% if(step.note) {%>
                                            <i class="fa-solid fa-notes text-skyblue-900"></i>
                                            <i><%= step.note %></i> 
                                        <% } %>
                                </li>
                            <% }) %>
                        </ol>
                    </div>
                    <div class="shadow-md w-1/2 bg-dark-700 px-4 py-2">
                        <h3 class="text-2xl">Minutovník</h3>
                        <ol class="list-decimal pl-4">
                            <% activity.agenda.forEach(step => { %>
                                <li>
                                    <span class="font-bold"><%= startHours.toString().padStart(2, '0') %>:<%= startMinutes.toString().padStart(2, '0') %> - <%= Math.floor(startHours + step.duration / 60).toString().padStart(2, '0') %>:<%= (startMinutes + step.duration % 60).toString().padStart(2, '0') %></span> - <%= step.title %>
                                    <% startHours = Math.floor(startHours + step.duration / 60) %>
                                    <% startMinutes = startMinutes + step.duration % 60 %>
                                </li>
                           <% }) %>
                        </ol>
                    </div>
                </div>
                <div class="w-full shadow-md mt-4 bg-dark-700 px-4 py-2 mb-3">
                    <h2 class="text-2xl">Průběh aktivity</h2>
                    <ol class="list-decimal pl-4">
                        <% activity.instructions.forEach(step => { %>
                            <li>
                                <% if(step.warn) {%>
                                    <i class="fa-regular fa-triangle-exclamation text-sunglate-900"></i>
                                    <%= step.warn %>
                                <% } %>
                                <br>
                                <%= step.title %>
                                <br/>
                                <% if(step.note) {%>
                                    <i class="fa-solid fa-notes text-skyblue-900"></i>
                                    <i><%= step.note %></i>
                                <% } %>
                            </li>
                        <% }) %>
                    </ol>
                </div>  
                <h2 class="text-3xl font-bold">Užitečné odkazy</h2>
                <ul>
                    <% activity.links.forEach(link => { %>
                        <li class="pl-4"><a href="<%= link.url %>" target="_blank"><%= link.title %></a></li>
                    <% }) %>
                </ul>
                <h2 class="text-3xl font-bold mt-3">Galerie</h2>
                <div class="grid gap-4">
                    <% activity.gallery.forEach(set => { %>
                        <div class="flex flex-col gap-4">
                            <h3 class="text-2xl font-semibold"><%= set.title %></h3>
                            <% set.images.forEach(image => { %>
                                <a href="<%= image.highRes %>" target="_blank">
                                    <img class="w-32" src="<%= image.lowRes %>"/>
                                </a>
                            <% }) %>    
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/Application.js"></script>
    <script src="/public/js/API.js"></script>

    <script>
        const app = new Application();
        app.hideLoader();
    </script>
</body>
</html>