<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.first_name %> <%= user.last_name %> | Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="h-24 block"></div>
    
    <div class="w-full flex-row">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col items-start w-full pt-4 gap-4">
                <div class="flex flex-col items-center gap-4 bg-black-200 shadow-lg rounded-md p-6 w-full">
                    <div class="flex flex-col gap-2 md:flex-row w-full justify-between">
                        <h1 class="text-4xl font-extrabold"><%= user.first_name %> <%= user.last_name %></h1>

                        <div class="flex flex-col md:flex-row gap-2">
                            <button data-downloadCalendar class="btn btn-skyblue">
                                <i class="fa-solid fa-download text-xl"></i>
                                Stáhnout kalendář
                            </button>

                            <button data-logout class="btn">
                                <i class="fa-solid fa-sign-out text-xl"></i>
                                Odhlásit se
                            </button>
                        </div>
                    </div>

                    <div data-page="calendar" class="flex flex-col items-center gap-2 w-full">
                        <h2 class="text-3xl font-bold">Kalendář</h2>

                        <div class="flex flex-col items-center gap-4 w-full">
                            <div data-calendar class="w-3/4"></div>
                            <div data-modal class="flex flex-col hidden justify-center w-full">
                                <h1 data-modalTitle class="text-3xl font-semibold" id="modal"></h1>
                                <div data-modalContent class="flex flex-col gap-4 flex-wrap">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script src="/public/lib/js/popper.min.js"></script>
    <script src="/public/lib/js/tippy.min.js"></script>
    <script src="/public/lib/js/fullcalendar-6.1.10.min.js"></script>
    <script src="/public/js/Application.js"></script>
    <script src="/public/js/API.js"></script>
    <script src="/public/js/modules/CalendarModule.js"></script>
    <script src="/public/js/pages/DashboardPage.js"></script>
    <script>
        const app = new Application();
        const page = new Page(app);
    </script>
</body>
</html>