<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= lecturer.first_name %> <%= lecturer.last_name %> | Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="h-24 block"></div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col items-start w-full gap-24">
                <div data-lecturer class="lecturer">
                    <% if (lecturer.picture_url) { %>
                        <img class="lecturer-profileImage" src="<%= lecturer.picture_url %>">
                    <% } else { %>
                        <div class="lecturer-profileImage flex justify-center items-center">
                            <i class="fa-solid fa-user text-8xl text-white-900"></i>
                        </div>
                    <% } %>

                    <div class="lecturer-content flex flex-col">
                        <div class="flex flex-col md:flex-row">
                            <div>
                                <h1 class="lecturer-name"><%= lecturer.title_before %> <%= lecturer.first_name %> <%= lecturer.middle_name %> <%= lecturer.last_name %> <%= lecturer.title_after %></h1>

                                <% if (lecturer.claim) { %>
                                    <p class="lecturer-claim"><%= lecturer.claim %></p>
                                <% } %>
                                    
                                <% if (lecturer.tags) { %>
                                    <div class="lecturer-tags">
                                        <% lecturer.tags.forEach(tag => { %>
                                            <p><%= tag.name %></p>
                                        <% }) %>
                                    </div>
                                <% } %>
                            </div>
                        
                            <div class="min-w-fit md:ml-auto">
                                <div class="flex flex-row space-x-2">
                                    <% if (lecturer.location) { %>
                                        <p class="lecturer-location"><%= lecturer.location %></p>
                                    <% } %>
                                
                                    <% if (lecturer.price_per_hour) { %>
                                        <p class="lecturer-price"><%= lecturer.price_per_hour %> Kč/h</p>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-4 my-4">
                            <% if (lecturer.contact.emails) { %>
                                <div class="lecturer-rowBox">
                                    <h1>Emails</h1>
        
                                    <div class="flex flex-col space-y-1">
                                        <% lecturer.contact.emails.forEach(email => { %>
                                            <a href="mailto:<%= email %>"><%= email %></a>
                                        <% }) %>
                                    </div>
                                </div>
                            <% } %>

                            <% if (lecturer.contact.telephone_numbers) { %>
                                <div class="lecturer-rowBox">
                                    <h1>Telephone Numbers</h1>

                                    <div class="flex flex-col space-y-1">
                                        <% lecturer.contact.telephone_numbers.forEach(phoneNumber => { %>
                                            <a href="tel:<%= phoneNumber %>"><%= phoneNumber %></a>
                                        <% }) %>
                                    </div>
                                </div>
                            <% } %>
                        </div>

                        <% if (lecturer.bio) { %>
                            <p class="lecturer-bio"><%= lecturer.bio %></p>
                        <% } %>
                    </div>
                </div>

                <div class="w-full lg:w-2/3 mx-auto">
                    <form class="user-form flex flex-col gap-4 !w-full" data-reservationForm>
                        <h1 class="text-2xl mx-auto font-bold">Zarezervujte si hodinu</h1>
                        
                        <div class="flex flex-row justify-between gap-2 w-full">
                            <div class="w-1/2">
                                <label for="firstName" class="text-lg font-bold">Jméno</label>
                                <input data-reservationInput="firstName" class="user-input" type="text" placeholder="Veronika" required>
                            </div>
                            
                            <div class="w-1/2">
                                <label for="firstName" class="text-lg font-bold">Příjmení</label>
                                <input data-reservationInput="lastName" class="user-input" type="text" placeholder="Vašíčková" required>
                            </div>
                        </div>
                        
                        <div class="flex flex-row justify-between gap-2 w-full">
                            <div class="w-1/2">
                                <label for="firstName" class="text-lg font-bold">Email</label>
                                <input data-reservationInput="email" class="user-input" type="email" placeholder="veronika.vasickova@gmail.com" required>
                            </div>

                            <div class="w-1/2">
                                <label for="firstName" class="text-lg font-bold">Telefonní číslo</label>
                                <input data-reservationInput="phoneNumber" class="user-input" type="tel" pattern="^\+?([0-9 \-]{9,})$" placeholder="+420 123 456 789" required>
                            </div>
                        </div>
                        <label for="firstName" class="text-lg font-bold">Místo setkání</label>
                        <div class="flex flex-row w-full gap-2">  
                            <div class="btn btn-big w-1/2" data-off>Offline</div>
                            <div class="btn btn-big w-1/2" data-on >Online</div>
                        </div>  
                        <div class="flex flex-col w-full">
                            <input data-reservationInput="location" class="user-input" type="text" placeholder="Kočičí kavárna na Smíchově" required>
                        </div>

                        <div class="flex flex-col w-full mb-2">
                            <label class="text-lg font-bold">Datum a čas</label>
                            
                            <div class="flex flex-row items-center gap-2">
                                <input data-reservationInput="timeStart" class="user-input" type="datetime-local" required>
                                <p>-</p>
                                <input data-reservationInput="timeEnd" class="user-input" type="time" required>
                            </div>
                        </div>

                        <div class="flex flex-col w-full">
                            <textarea data-reservationInput="message" class="user-input h-24" placeholder="Moje zpráva lektorovi..." required maxlength="500"></textarea>
                        </div>
                        
                        <div class="flex flex-col gap-1">
                            <button type="submit" class="btn btn-big mt-4">Rezervovat</button>
                            <p data-errorMessage class="errorMessage"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/pages/LecturerPage.js"></script>
    <script src="/public/js/API.js"></script>
    <script src="/public/js/Application.js"></script>
    
    <script>
        const app = new Application();
        const page = new Page(app, "<%= lecturer.uuid %>");
    </script>
</body>
</html>